.swiper-pagination {
  bottom: 0% !important;
}

.swiper-pagination-bullet-active {
  background-color: #61DBFB !important;
}

.swiper-pagination-bullet {
  background-color: #898989 !important;
}

ion-card.map-images {
  background-color: red;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
}
