@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Serif+Khojki&display=swap');

ion-button,
ion-back-button,
ion-title,
ion-item,
ion-label,
ion-input,
ion-note ion-content,
ion-page,
input,
form,
label,
ion-checkbox,
ion-label,
ion-item,
svg,
html,
body,
label,
button,
ion-toast,
ion-loading,
ion-card,
ion-select
ion-card-title,
p,
ion-note {
  font-family: 'Dosis', sans-serif;
  font-family: 'Noto Serif Khojki', serif;
}

.ion-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

textarea:focus-visible {
  border-color: #179b59;
}

textarea {
  border-color: #179b59;
}

.login-input {
  font-size: 0.95em;
}

/* Action Sheet Interface: set color for the action sheet using its button CSS variables */
.my-custom-interface .select-interface-option {
  --button-color-selected: #00856A;
  --cancel-button-color: #00856A;
  --cancel-button-color-selected: #00856A;
  --button-color: #00856A;
  --button-color-hover: #00856A;
}

.my-custom-interface {
  color: #00856A;
  --button-color-selected: #00856A;
  --cancel-button-color: #00856A;
  --cancel-button-color-selected: #00856A;
  --button-color: #00856A;
  --button-color-hover: #00856A;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.ion-spinner-image {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 7.5vh;
  transform: translate(-50%, -50%);
}

.ion-spinner-iframe {
  position: fixed;
  top: 72.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.onboard-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 75vw;
}

.onboard-txt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1150%);
  width: 90vw;
}

ion-fab.fab-horizontal-center {
  margin-inline-start: -60px;
}

.load-new-posts {
  --border-radius: 20px;
  max-width: unset;
  min-width: unset;
  width: 120px;
  height: 45px;
}

.user-card {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: transparent;
  box-shadow: none !important;
  min-height: 65vh;
  margin: 0 !important;
  padding: 0 !important;
}

ion-skeleton-text {
  --background-rgb: 130, 130, 130;
}

@keyframes like-animation {
  0% {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.10, 1.10, 1);
  }

  50% {
    transform: scale3d(1.20, 1.20, 1);
  }

  75% {
    transform: scale3d(1.10, 1.10, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.likeAnimation {
  animation: like-animation 0.5s both
}

ion-tab-button {
  --background-focused: #61dbfb;
  --color-selected: #61dbfb;
}

ion-checkbox {
  --background: #ffffff;
}

#generalCheckbox {
  --background-checked: #61dbfb;
  --border-color-checked: #ffffff;
}

#general {
  width: 0.5%;
  height: 3.5vh;
  background: transparent;
  margin: 1vw;
}

.autocomplete-panel {
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(229, 231, 235, 1);
  border-width: 1px;
  border-radius: 0.375rem;
  overflow-y: scroll;
  row-gap: 0.75rem;
  grid-auto-rows: auto;
  width: 18rem;
  max-height: 14rem;
  display: grid;
  position: absolute;
  box-shadow: 0 20px 25px -5px rgba(255, 255, 255, 0.1),
    0 10px 10px -5px rgba(255, 255, 255, 0.04),
    0 1px 3px 0 rgba(255, 255, 255, 0.1), 0 1px 2px 0 rgba(255, 255, 255, 0.06);
}

#alertCheckbox {
  --background-checked: #ff3e3e;
  --border-color-checked: #ffffff;
}

#researchCheckbox {
  --background-checked: #743dff;
  --border-color-checked: #ffffff;
}

#housingCheckbox {
  --background-checked: #ffaf2e;
  --border-color-checked: #ffffff;
}

#diningCheckbox {
  --background-checked: #D5CB9F;
  --border-color-checked: #ffffff;
}

#alert {
  width: 0.5%;
  height: 3.5vh;
  background: transparent;
  margin: 1vw;
}

#buySellCheckbox {
  --background-checked: #179b59;
  --border-color-checked: #ffffff;
}

#buySell {
  width: 0.5%;
  height: 3.5vh;
  background: transparent;
  margin: 1vw;
}

#sightingCheckbox {
  --background-checked: #eed202;
  --border-color-checked: #ffffff;
}

#sighting {
  width: 0.5%;
  height: 3.5vh;
  background: transparent;
  margin: 1vw;
}

#eventCheckbox {
  --background-checked: #fc4ad3;
  --border-color-checked: #ffffff;
}

#event {
  width: 0.5%;
  height: 3.5vh;
  background: transparent;
  margin: 1vw;
}

.overlaySearchNotHumboldt {
  position: absolute;
  z-index: 2;
  width: 70%;
  height: 3rem;
  transform: translateY(75%);
  text-align: center;
  margin-left: 14%;
  margin-top: 10pt;
  color: #61DBFB;
  background-color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
}

.overlaySearch {
  position: absolute;
  transform: translateY(75%);
  z-index: 2;
  width: 70%;
  height: 3rem;
  text-align: center;
  margin-left: 14%;
  margin-top: 10pt;
  color: #00856A;
  background-color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
}

.overlayClassSelectionLight {
  position: absolute;
  z-index: 2;
  width: 35vw;
  height: 3rm;
  text-align: center;
  background-color: lightgray;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
}

.overlayClassSelectionDark {
  position: absolute;
  z-index: 2;
  width: 10vw;
  height: 3rm;
  text-align: center;
  background-color: rgb(33, 32, 32);
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
}

.message {
  display: flex;
  align-items: center;
}

.message-humboldt {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent-humboldt {
  flex-direction: row-reverse;
}

.sent p {
  max-width: 250px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: 10px;
  position: relative;
  color: white;
  text-align: right;
  color: white;
  background: #61dbfb;
  align-self: flex-end;
}

.sent-humboldt p {
  max-width: 250px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: 10px;
  position: relative;
  color: white;
  text-align: right;
  color: white;
  background: #00856A;
  align-self: flex-end;
}

.received p {
  max-width: 250px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: left;
  background: #e5e5ea;
  color: black;
}

.received-humboldt p {
  max-width: 250px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: left;
  background: #e5e5ea;
  color: black;
}

.dm-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.overlaySearchDarkNotHumboldt {
  position: absolute;
  transform: translateY(75%);
  z-index: 2;
  width: 70%;
  height: 3rem;
  text-align: center;
  margin-left: 14%;
  margin-top: 10pt;
  color: #61DBFB;
  background-color: #2f2f2f;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
}

.overlaySearchDark {
  position: absolute;
  transform: translateY(75%);
  z-index: 2;
  width: 70%;
  height: 3rem;
  text-align: center;
  margin-left: 14%;
  margin-top: 10pt;
  color: #00856A;
  background-color: #2f2f2f;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
}

.user-avatar {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 2.5px;
  border: 1px solid rgb(119, 119, 119);
  overflow: hidden;
  text-align: center;
}


.posts-avatar {
  border: 1px solid rgb(119, 119, 119);
  overflow: hidden;
  zoom: 0.75;
}

.ion-card-community {
  width: 55vw;
  min-height: 35vh;
  min-height: 58.5vh;
  display: inline-block;
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: #7c7c7c;
  height: 1px;
}

.verticalLine {
  height: 5vh;
  background: transparent;
  margin: auto;
}

.verticalLineInOriginalMessage {
  width: 0.5%;
  height: 5vh;
  background: #61dbfb;
  margin: 1vw;
}

.verticalLineInComments {
  width: 0.5%;
  height: 5vh;
  background: rgb(162, 162, 162);
  margin: 1vw;
}

.header {
  display: flex;
  padding: 1vh;
}

.quantum_logo {
  resize: both;
  height: 7.5vh;
}

.h3-error {
  align-items: center;
  text-align: center;
}

.ion-image-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.ion-item-div {
  display: flex;
}

.ion-item-p {
  display: block;
}

.ion-avater-item {
  padding: 20%;
}

.h2-message {
  white-space: pre-line;
  font-weight: bold;
}

.navbar_label {
  zoom: 1.5;
}

.container {
  max-width: 90vw;
  max-height: 30vw;
  margin: 0 auto;
}

.aspect-ratio {
  position: relative;
}

.aspect-ratio-1-1 {
  padding-bottom: 100%;
}

.aspect-ratio-4-3 {
  padding-bottom: 75%;
}

.aspect-ratio-16-9 {
  padding-bottom: 56.25%;
}

ion-toolbar {
  --border-style: none;
}

.ion-img-comment {
  aspect-ratio: 1;
  border-color: transparent;
  width: 50px;

}

.swiper-pagination {
  bottom: 98% !important;
}

.swiper-pagination-bullet-active {
  background-color: #61DBFB !important;
}

.swiper-pagination-bullet {
  background-color: #898989 !important;
}


.fit-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 90%;
  max-height: 30%;
}

.fit-img-bottom {
  top: auto;
}

.fit-img-tight {
  max-width: 100%;
  max-height: 100%;
}

.img-container-community {
  object-fit: cover;
  width: 125px;
  height: 40px;
}

ion-img::part(image) {
  border-radius: 10px;
}

.ion-img-container {
  background-size: cover;
  background-position: center;
  height: 20.5vh;
  -webkit-transform: translate3d(0, 0, 1px);
  -webkit-backface-visibility: hidden;
  image-rendering: pixelated;
}

.ion-img-container.visible {
  background-size: cover;
  background-position: center;
  height: 20.5vh;
  border-radius: 10px;
  -webkit-transform: translate3d(0, 0, 1px);
  -webkit-backface-visibility: hidden;
}

.ion-img-container-2 {
  background-size: cover;
  background-position: center center;
  height: 11.25vh;
  -webkit-transform: translate3d(0, 0, 1px);
  -webkit-backface-visibility: hidden;
}

.ion-page-ios-notch {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.ion-img-style {
  overflow: hidden;
  border-radius: 5%;
}

.x-check-buttons {
  padding-left: 10vw;
}

.list-avatar {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ssky-mention-input__suggestions__item {
  color: black;
}

.text-area-dark {
  background: #121212;
}

.text-area-light {
  background: #FFFFFF;
}

.ion-button-container {
  max-height: 25vh;
  max-width: 90vw;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.password-reauthentication {
  text-align: center;
  align-items: center;
}

.sign-in-sign-up-list {
  /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.home-list {
  /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.ion-item-style {
  background: "transparent";
}

.ion-paragraph {
  /* text-align:center; */
  width: max-content;
}

ion-input[disabled] {
  --ion-color-base: #92949c;
}

.modal {
  width: 80%;
  height: 60%;
  min-height: 0;
  max-height: 250px;
  top: 20%;
  left: 10%;
  right: 10%;
  bottom: 20%;
}

.ion-input- {
  padding-right: 2.5vh;
}

.ion-title {
  padding-top: 1vh;
  text-align: center;
}

hr {
  border-top: 1px solid;
}

.ion-header {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  text-align: center;
}

.modal-style {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.ion-modal {
  padding-top: 5vh;
}

.ion-text-area {
  padding-top: 10vh;
  --overflow: hidden;
}

.no-scroll {
  --overflow: hidden;
}

.ion-fab {
  zoom: 0.75;
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

ion-content {
  overflow: hidden;
}

ion-image {
  flex: 1;

  width: "100%";

  height: "100%";

  object-fit: contain;
}

input {
  border: 0;
  outline: 0;
  font-size: 15px;
  background-color: transparent;
  padding: 12px;
  padding-left: 0vw;
  width: 90vw;
}

input:focus {
  outline: none !important;
}


img.chat_avatar {
  width: 45px;
  height: 45px;
  object-fit: contain;
  box-shadow: 1px 6px 18px rgba(31, 37, 72, 0.45);
  border-radius: 7px;
}

.chat {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid #d3d3d35e;
}

.contact_name {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 2px;
}

.contactMsg {
  font-weight: 300;
  font-size: 12px;
  width: 55vw;
}

.contactMsgBold {
  font-weight: 450;
  font-size: 12px;
  width: 55vw;
}

.contact_msg {
  font-size: 15px;
  font-weight: lighter;
}

.chat_info {
  width: 50%;
}

.chat_date {
  font-size: 12px;
  color: #5a5a5a;
  margin-bottom: 2px;
}

.chat_new {
  padding: 2px 5px;
  font-size: 11px;
  border-radius: 2px;
  color: #cf3c4f;
}

.chat_status {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-options {
  transform: translateY(-50px) !important;
}

.ios .toast-options {
  transform: translateY(-50px) !important;
}

.md .toast-options {
  transform: translateY(-50px) !important;
}