.ion-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes like-animation{
  0% { transform: scale3d(1, 1, 1); }
  30% { transform: scale3d(1.25, 0.75, 1); }
  40% { transform: scale3d(0.75, 1.25, 1); }
  50% { transform: scale3d(1.15, 0.85, 1); }
  65% { transform: scale3d(0.95, 1.05, 1); }
  75% { transform: scale3d(1.05, 0.95, 1); }
  100% { transform: scale3d(1, 1, 1); }
}

.likeAnimation {
  animation: like-animation 1.0s both
}

ion-tab-button {
  --background-focused: #61dbfb;
  --color-selected: #61dbfb;
}

ion-checkbox {
  --background: #ffffff;
}

#generalCheckbox {
  --background-checked: #61dbfb;
  --border-color-checked: #ffffff;
}
#general {
  width: 0.5%;
  height: 5vh;
  background: #61dbfb;
  margin: 1vw;
}
#alertCheckbox {
  --background-checked: #ff3e3e;
  --border-color-checked: #ffffff;
}
#alert {
  width: 0.5%;
  height: 5vh;
  background: #ff3e3e;
  margin: 1vw;
}
#buySellCheckbox {
  --background-checked: #179b59;
  --border-color-checked: #ffffff;
}
#buySell {
  width: 0.5%;
  height: 5vh;
  background: #179b59;
  margin: 1vw;
}
#sightingCheckbox {
  --background-checked: #eed202;
  --border-color-checked: #ffffff;
}
#sighting {
  width: 0.5%;
  height: 5vh;
  background: #eed202;
  margin: 1vw;
}
#eventCheckbox {
  --background-checked: #fc4ad3;
  --border-color-checked: #ffffff;
}
#event {
  width: 0.5%;
  height: 5vh;
  background: #fc4ad3;
  margin: 1vw;
}

.overlaySearch {
  position: absolute;
  z-index: 2;
  width: 70%;
  height: 3rem;
  text-align: center;
  margin-left: 14%;
  margin-top: 40pt;
  color: black;
  background-color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
}

.user-avatar {
  height: 90px;
  width: 90px;
  display: inline-block;
  margin: 20px;
  border: 1px solid rgb(119, 119, 119);
  overflow: hidden;
}

.posts-avatar {
  border: 1px solid rgb(119, 119, 119);
  overflow: hidden;
  zoom: 0.75;
}

.ion-card-community {
  width: 55vw;
  min-height: 35vh;
  min-height: 58.5vh;
  display: inline-block;
}

.verticalLine {
  height: 5vh;
  background: transparent;
  margin: auto;
}

.verticalLineInOriginalMessage {
  width: 0.5%;
  height: 5vh;
  background: #61dbfb;
  margin: 1vw;
}

.verticalLineInComments {
  width: 0.5%;
  height: 5vh;
  background: rgb(162, 162, 162);
  margin: 1vw;
}

.header {
  display: flex;
  padding: 1vh;
}

.quantum_logo {
  resize: both;
  height: 7.5vh;
}

.h3-error {
  align-items: center;
  text-align: center;
}

.ion-image-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.ion-item-div {
  display: flex;
}

.ion-item-p {
  display: block;
}

.ion-avater-item {
  padding: 20%;
}

.h2-message {
  white-space: pre-line;
  font-weight: bold;
}

.navbar_label {
  zoom: 1.5;
}

.container {
  max-width: 90vw;
  max-height: 30vw;
  margin: 0 auto;
}

.aspect-ratio {
  position: relative;
}

.aspect-ratio-1-1 {
  padding-bottom: 100%;
}

.aspect-ratio-4-3 {
  padding-bottom: 75%;
}

.aspect-ratio-16-9 {
  padding-bottom: 56.25%;
}

.fit-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 90%;
  max-height: 30%;
}

.fit-img-bottom {
  top: auto;
}

.fit-img-tight {
  max-width: 100%;
  max-height: 100%;
}

.ion-img-container {
  max-height: 25vh;
  max-width: 90vw;
  height: auto;
  width: auto;
  overflow: hidden;
  border-radius: 5%;
  justify-content: center;
}

.ion-img-style {
  overflow: hidden;
  border-radius: 5%;
}

.x-check-buttons {
  padding-left: 10vw;
}

.list-avatar {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ion-button-container {
  max-height: 25vh;
  max-width: 90vw;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.password-reauthentication {
  text-align: center;
  align-items: center;
}

.sign-in-sign-up-list {
  /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.home-list {
  /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.ion-item-style {
  background: "transparent";
}

.ion-paragraph {
  /* text-align:center; */
  width: max-content;
}

ion-input[disabled] {
  --ion-color-base: #92949c;
}

.modal {
  width: 80%;
  height: 60%;
  min-height: 0;
  max-height: 250px;
  top: 20%;
  left: 10%;
  right: 10%;
  bottom: 20%;
}

.ion-input- {
  padding-right: 2.5vh;
}

.ion-title {
  padding-top: 1vh;
  text-align: center;
}

.ion-header {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  text-align: center;
}

.modal-style {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.ion-modal {
  padding-top: 5vh;
}

.ion-text-area {
  padding-top: 10vh;
  --overflow: hidden;
}

.no-scroll {
  --overflow: hidden;
}

.ion-fab {
  zoom: 0.75;
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

ion-content {
  overflow: hidden;
}

ion-image {
  flex: 1;

  width: "100%";

  height: "100%";

  object-fit: contain;
}
